@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-slate-900 bg-slate-50 dark:text-slate-100 dark:bg-slate-900 font-sans antialiased;
}

body {
  @apply m-0 min-h-screen;
}

#app {
  @apply min-h-screen;
}
